body{
     text-align: center;
}
.top{

    height: 80px;

    
}
.main{
    height: 450px;
}
.container{
    background-color: rgb(255, 77, 0);
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin: 30px 0px 0px 400px;
    width: 400px;
    height: 400px;

}
    
.square{
    background-color: white;
    margin: 10px 0px 0px 0px;
    border: 1px black solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    
}
.div2 {
    grid-column-start: 2;
}

.div3 {
    grid-column-start: 3;
}

.div4 {
    grid-column-start: 4;
}

.div5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div7 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.div8 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div9 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.div10 {
    grid-column-start: 4;
    grid-row-start: 3;
}
.btn{
    width: 100px;
    height: 30px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
        